.createTest {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  .video{
    display: flex;
    flex-direction: column;
    >*{
      margin: 10px 0;
    }
  }
  .createBtn{
    background-color: rgb(38, 174, 38);
  }
  button {
    background-color: #2145d9;
    max-width: 300px;
    margin: 5px auto;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  h2 {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    input,
    textarea,
    select {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      
    }
  }

  @media (max-width: 767px) {
    form {
      input,
      textarea,
      select {
        width: 100%; // Make inputs full width on small screens
      }

      button {
        width: 100%; // Make button full width on small screens
      }
    }
  }
}
