// Question.module.scss

.questionContainer {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 0;
    padding: 20px;
  }
  
  .questionTitle {
    font-size: 1.5rem;
    color: #333;
    padding:8px;
    margin-bottom: 10px;
  }
  
  .answer {
    padding: 8px;
    margin: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #f0f0f0;
    }
  
    &.selected {
      background-color: #6b92ff;
      color: #fff;
    }
  }
  