// Test.module.scss

.testsContainer {
    max-width: 700px;
    margin:40px auto;
    p{
      margin: 20px 0;
    }
    a{
      background-color: #2145d9;
      padding: 10px 20px;
      color:#fff;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      margin: 15px;
    }
  }
  
  .testTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .testDescription {
    color: #555;
    font-size: 1rem;
  }
  button{
    background-color: #2145d9;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 5px;
  }
  