.Footer{
    width: 100%;
    padding: 30px;
    background-color:rgb(48, 48, 48);
    margin-top: 100px;
    // bottom: 0;
    // position: absolute;
    a{
        color: #fff;
        text-decoration: none;
        margin: 10px;
    }
}